@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #000;
}

html {
  scroll-behavior: smooth;
}

.nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none; /* Ensure no default underline */
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  display: none; /* Hide by default */
}

.nav-link:hover::after {
  display: block; /* Show instantly on hover */
}



